<% { 'Pendentes' => @pending_tasks, 'Finalizadas' =>@finished_tasks}.each do |name, tasks| %>
  <h2><%= name %></h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Finalizado</th>
        <th>Categoria</th>
        <th>Nome</th>
        <th>Detalhes</th>
        <th>Prazo</th>      
        <th>Criado em</th>
        <th>Atualizado em</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <% tasks.each do |task| %>
        <tr>
          <td><%= task.done? ? 'Sim' : 'Não' %></td>
          <td><%= task.category.name %></td>
          <td><%= task.name %></td>
          <td><%= task.details %></td>
          <td><%= task.due_date %></td>        
          <td><%= l task.created_at, format: :short %></td>
          <td><%= l task.updated_at, format: :short %></td>
          <td>
              <%= link_to "Editar", edit_task_path(task), class: 'btn btn-success' %>
              <%= link_to "Apagar", task_path(task), method: :delete, class: 'btn btn-danger', data: { confirm: 'Você tem certeza?' }%>
          </td>
        </tr>
      <% end %>
    </tbody>

  </table>

<% end %>